language: python
python:
  - "3.6"

# Note that travis doesn't support python on osx yet?!
os:
  - linux

dist: xenial
sudo: required

env:
  - LD_LIBRARY_PATH="/snap/o2scl/current/usr/lib/x86_64-linux-gnu:/snap/o2scl/current/lib/x86_64-linux-gnu" PATH="/usr/local/bin:/usr/bin:/bin:/snap/o2scl/current/bin"

# This doesn't appear to work yet. It skips the snap install.
# I don't know how to force the add on to select devmode
#
addons:
  snaps:
    - name: o2scl
      confinement: devmode
      channel: latest/edge

# We use 'acol --version' to verify the o2scl installation and
# then install o2graph
# 
# sudo snap install o2scl --devmode --edge && acol --version && pip install . && o2graph -help ;
# 
install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
       env && acol --version && pip install . && o2graph -o2scl-libdir /snap/o2scl/current/lib/ -help ;
    fi

script:
  - echo Done.

notifications:
  email:
    on_success: never
    on_failure: never
